{%- set canonical = site.origin + hl.path -%}
{%- set title = 'homepage page title' | tr -%}
{%- set description = 'homepage hero desc' | tr | firstSentence -%}
{%- set guidesPath = (site.prefix[hl.code] if site.prefix[hl.code] is defined else '') + '/guides/' -%}
<!DOCTYPE html>
<html lang="{{ hl.tag }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="canonical" href="{{ canonical }}">
  {%- for l in site.homeLangs %}
  <link rel="alternate" hreflang="{{ l.tag }}" href="{{ site.origin }}{{ l.path }}">
  {%- endfor %}
  <link rel="alternate" hreflang="x-default" href="{{ site.origin }}/">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Blokada">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:url" content="{{ canonical }}">
  <meta property="og:image" content="{{ site.origin }}/img/blokada-thumb.png">
  <meta property="og:image:width" content="420">
  <meta property="og:image:height" content="420">
  <meta property="og:locale" content="{{ hl.tag | replace('-', '_') }}">
  <meta name="twitter:card" content="summary">
  <meta name="theme-color" content="#121212">
  {#- Offers the Blokada 6 app in Safari on iPhone and iPad. #}
  <meta name="apple-itunes-app" content="app-id=1508341781">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon.png">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/home.css">
</head>
<body>
  {% include "home/header.njk" %}
  <main>
    {% include "home/hero.njk" %}
    {% include "home/products.njk" %}
    {% include "home/download.njk" %}
    {% include "home/community.njk" %}
    {% include "home/reviews.njk" %}
    {% include "home/faq.njk" %}
    {% include "home/support.njk" %}
    {% include "home/developer.njk" %}
  </main>
  {% include "home/footer.njk" %}
</body>
</html>
