<section id="community" class="section section-lg">
<div class="container">
<div class="row justify-content-center text-center mb-lg">
<div class="col-lg-8">
<h2 class="display-3">{{ 'homepage community header' | tr }}</h2>
<p class="lead text-muted">{{ 'homepage community desc' | tr }}</p>
</div>
</div>
<div class="card border-0 shadow-lg bg-gradient-success">
<div class="p-4 p-md-5">
<div class="row align-items-center">
<div class="col-lg-8">
<h3 class="text-white">{{ 'homepage community cta subheader' | tr }}</h3>
<p class="lead text-white mt-3">{{ 'homepage community cta desc' | tr }}</p>
</div>
<div class="col-lg-3 ml-lg-auto">
<a class="btn btn-block btn-white btn-lg" href="https://go.blokada.org/forum?src=landing">
{{ 'homepage community cta action' | tr }}
</a>
<a class="btn btn-block btn-white btn-lg" href="https://go.blokada.org/newsletter?src=landing">
{{ 'homepage action newsletter' | tr }}
</a>
</div>
</div>
</div>
</div>
</div>
</section>
