<section id="developer" class="section section-lg">
<div class="container">
<div class="row row-grid justify-content-center">
<div class="col-lg-8 text-center">
<h2 class="display-3">{{ 'homepage developer header' | tr }}
<span class="text-success">{{ 'homepage developer subheader' | tr }}</span>
</h2>
<p class="lead">{{ 'homepage developer desc' | tr }}</p>
<br>
<br>
<a class="btn mb-3 mb-sm-0 btn-icon btn-default" href="https://go.blokada.org/dev_home">
<span class="btn-inner--icon">{% icon "brands-github" %}</span>
<span class="btn-inner--text">
{{ 'homepage developer action' | tr }}
</span>
</a>
</div>
</div>
</div>
</section>
