<section id="download" class="section section section-shaped my-0 overflow-hidden">
<div class="shape shape-style-4 bg-gradient-warning shape-skew">
<span>
</span>
<span>
</span>
<span>
</span>
<span>
</span>
<span>
</span>
<span>
</span>
</div>
<div class="container py-0">
<div class="row row-grid align-items-center">
<div class="col-lg-12 order-lg-1">
<div class="d-flex px-md-3">
<div class="d-none d-lg-block">
<div class="icon icon-shape bg-gradient-white icon-lg shadow rounded-circle text-default">{% icon "solid-cloud-download-alt" %}</div>
</div>
<div class="pl-md-4">
<h2 class="display-3 text-white">{{ 'homepage download header' | tr }}</h2>
<p class="text-white">{{ 'homepage download subheader' | tr }}</p>
</div>
</div>
<div class="flex-column flex-md-row">
<div class="nav-wrapper">
<ul role="tablist" class="nav nav-pills nav-fill">
<li class="nav-item" role="presentation">
<a role="tab" href="#download" data-tab="ios" id="tab-ios" aria-controls="pane-ios" class="nav-link active" aria-selected="true">
<div>{% icon "brands-apple", "mr-2" %}iOS
</div>
</a>
</li>
<li class="nav-item" role="presentation">
<a role="tab" href="#download" data-tab="android" id="tab-android" aria-controls="pane-android" class="nav-link" aria-selected="false">
<div>
{% icon "brands-android", "mr-2" %}Android
</div>
</a>
</li>
<li class="nav-item" role="presentation">
<a role="tab" href="#download" data-tab="other" id="tab-other" aria-controls="pane-other" class="nav-link" aria-selected="false">
<div>{% icon "solid-laptop", "mr-2" %}{{ 'account section header other' | tr }}
</div>
</a>
</li>
</ul>
</div>
<div class="tab-content">
<div class="card shadow">
<div class="card-body">
<div class="tab-pane active" data-pane="ios" id="pane-ios" role="tabpanel" aria-labelledby="tab-ios">
<div class="d-flex px-md-3">
<div class="d-none d-lg-block">
<div class="icon icon-shape bg-gradient-danger shadow rounded-circle text-white">{% icon "brands-apple" %}</div>
</div>
<div class="pl-md-4">
<h3 class="title h4">{{ 'homepage download option ios family' | tr }}</h3>
<p>{{ 'homepage download desc new' | tr }}</p>
<div class="btn-wrapper">
<a class="btn mb-3 mb-sm-0 btn-icon btn-danger" href="https://go.blokada.org/appstore/family?src=landing">
<span class="btn-inner--icon">{% icon "brands-apple" %}</span>
<span class="btn-inner--text">
{{ 'homepage download action ios' | tr }}
</span>
</a>
</div>
</div>
</div>
<hr>
<div class="d-flex px-md-3">
<div class="d-none d-lg-block">
<div class="icon icon-shape bg-gradient-warning shadow rounded-circle text-white">{% icon "brands-apple" %}</div>
</div>
<div class="pl-md-4">
<h3 class="title h4">{{ 'homepage download option ios' | tr }}</h3>
<p>{{ 'homepage download desc ios' | tr }}</p>
<div class="btn-wrapper">
<a class="btn mb-3 mb-sm-0 btn-icon btn-warning" href="https://go.blokada.org/appstore?src=landing">
<span class="btn-inner--icon">{% icon "brands-apple" %}</span>
<span class="btn-inner--text">
{{ 'homepage download action ios' | tr }}
</span>
</a>
</div>
</div>
</div>
</div>
<div class="tab-pane" data-pane="android" id="pane-android" role="tabpanel" aria-labelledby="tab-android">
<div class="d-flex px-md-3">
<div class="d-none d-lg-block">
<div class="icon icon-shape bg-gradient-danger shadow rounded-circle text-white">{% icon "brands-google-play" %}</div>
</div>
<div class="pl-md-4">
<h3 class="title h4">{{ 'homepage download option android family' | tr }}</h3>
<p>{{ 'homepage download desc new' | tr }}</p>
<div class="btn-wrapper">
<a class="btn mb-3 mb-sm-0 btn-icon btn-danger" href="https://go.blokada.org/play/family?src=landing">
<span class="btn-inner--icon">{% icon "brands-android" %}</span>
<span class="btn-inner--text">
{{ 'homepage download action android slim' | tr }}
</span>
</a>
</div>
</div>
</div>
<hr>
<div class="d-flex px-md-3">
<div class="d-none d-lg-block">
<div class="icon icon-shape bg-gradient-warning shadow rounded-circle text-white">{% icon "brands-google-play" %}</div>
</div>
<div class="pl-md-4">
<h3 class="title h4">{{ 'homepage download option android cloud' | tr }}</h3>
<p>{{ 'homepage download desc android' | tr }}</p>
<div class="btn-wrapper">
<a class="btn mb-3 mb-sm-0 btn-icon btn-warning" href="https://go.blokada.org/play/v6?src=landing">
<span class="btn-inner--icon">{% icon "brands-google-play" %}</span>
<span class="btn-inner--text">
{{ 'homepage download action android slim' | tr }}
</span>
</a>
</div>
</div>
</div>
<hr>
<div class="d-flex px-md-3">
<div class="d-none d-lg-block">
<div class="icon icon-shape bg-gradient-success shadow rounded-circle text-white">{% icon "brands-android" %}</div>
</div>
<div class="pl-md-4">
<h3 class="title h4">{{ 'homepage download option android five' | tr }}</h3>
<p>{{ 'homepage download desc android five' | tr | safe }}</p>
<div class="btn-wrapper">
<a class="btn mb-3 mb-sm-0 btn-icon btn-success" href="https://go.blokada.org/apk5?src=landing">
<span class="btn-inner--icon">{% icon "solid-cloud-download-alt" %}</span>
<span class="btn-inner--text">
{{ 'homepage download action android five' | tr }}
</span>
</a>
</div>
</div>
</div>
</div>
<div class="tab-pane" data-pane="other" id="pane-other" role="tabpanel" aria-labelledby="tab-other">
<div class="d-flex px-md-3">
<div class="d-none d-lg-block">
<div class="icon icon-shape bg-gradient-dark shadow rounded-circle text-white">{% icon "solid-cloud" %}</div>
</div>
<div class="pl-md-4">
<h3 class="title h4">Blokada Cloud</h3>
<p>{{ 'homepage download cloud desc' | tr }}</p>
<div class="btn-wrapper">
<a class="btn mb-3 mb-sm-0 btn-icon btn-dark" href="https://app.blokada.org/?src=landing">
<span class="btn-inner--icon">{% icon "solid-user-circle" %}</span>
<span class="btn-inner--text">
{{ 'homepage download action open dashboard' | tr }}
</span>
</a>
<a class="btn mb-3 mb-sm-0 btn-icon btn-secondary" href="{{ guidesPath }}">
<span class="btn-inner--icon">{% icon "solid-book-open" %}</span>
<span class="btn-inner--text">
{{ 'homepage download action setup guides' | tr }}
</span>
</a>
</div>
</div>
</div>
<hr>
<div class="d-flex px-md-3">
<div class="d-none d-lg-block">
<div class="icon icon-shape bg-gradient-dark shadow rounded-circle text-white">{% icon "solid-shield-alt" %}</div>
</div>
<div class="pl-md-4">
<h3 class="title h4">Blokada Plus</h3>
<p>{{ 'homepage download plus desc' | tr }}</p>
<div class="btn-wrapper">
<a class="btn mb-3 mb-sm-0 btn-icon btn-dark" href="https://app.blokada.org/?src=landing">
<span class="btn-inner--icon">{% icon "solid-user-circle" %}</span>
<span class="btn-inner--text">
{{ 'homepage download action open dashboard' | tr }}
</span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
