<section id="faq" class="section section-lg">
<div class="container">
<div class="row row-grid justify-content-center">
<div class="col-lg-8 text-center">
<h2 class="display-3">{{ 'homepage faq header' | tr }}</h2>
<br>
<br>
<div class="col text-justify">
<h3>{{ 'homepage faq title 1' | tr }}</h3>
<p>{{ 'homepage faq desc 1' | tr }}</p>
<br>
<h3>{{ 'homepage faq title 2' | tr }}</h3>
<p>{{ 'homepage faq desc 2' | tr }}</p>
<br>
<h3>{{ 'homepage faq title 7' | tr }}</h3>
<p>{{ 'homepage faq desc 7' | tr }}</p>
<br>
<h3>{{ 'homepage faq title 8' | tr }}</h3>
<p class="newlines">{{ 'homepage faq desc 8' | tr | replace(r/<br\s*\/?>/gi, "\n") }}</p>
<br>
<h3>{{ 'homepage faq title 3' | tr }}</h3>
<p>{{ 'homepage faq desc 3' | tr }}</p>
<br>
<h3>{{ 'homepage faq title 5' | tr }}</h3>
<p>{{ 'homepage faq desc 5' | tr }}</p>
<br>
<h3>{{ 'homepage faq title 6' | tr }}</h3>
<p>{{ 'homepage faq desc 6' | tr }}</p>
<div>
<p class="h6 mt-5">
<a href="https://go.blokada.org/faq?src=landing" class="text-warning">{{ 'homepage faq action more' | tr }}</a>
</p>
</div>
</div>
</div>
</div>
</div>
</section>
