<footer class="footer has-cards">
<div class="container">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
<div class="container">
<div class="row row-grid align-items-center my-md">
<div class="col-lg-6">
<p class="h4 mb-0 font-weight-light">{{ 'homepage about footer' | tr }}</p>
</div>
<div class="col-lg-6 text-lg-center btn-wrapper">
<a rel="noopener" href="https://go.blokada.org/social_twitter" aria-label="Twitter" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg">{% icon "brands-twitter" %}</a>
<a rel="noopener" href="https://go.blokada.org/social_facebook" aria-label="Facebook" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg">{% icon "brands-facebook-square" %}</a>
<a rel="noopener" href="https://go.blokada.org/social_reddit" aria-label="Reddit" class="btn btn-neutral btn-icon-only btn-pinterest btn-lg btn-round">{% icon "brands-reddit" %}</a>
<a rel="noopener" href="https://go.blokada.org/dev_home" aria-label="Github" class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg">{% icon "brands-github" %}</a>
</div>
</div>
<p class="copyright">{{ 'homepage vpn credit' | tr }}</p>
<hr>
<div class="row align-items-center justify-content-md-between">
<div class="col-md-4 mb-4 mb-md-0">
<div class="copyright">
© {{ buildDate.slice(0, 4) }}
<a href="{{ site.origin }}/" rel="noopener">Blocka AB</a>
</div>
</div>
<div class="col-12 col-md-8">
<ul class="nav nav-footer justify-content-end">
<li class="nav-item">
<a href="https://go.blokada.org/dev_home" rel="noopener" class="nav-link">{{ 'homepage action source' | tr }}</a>
</li>
<li class="nav-item">
<a href="https://go.blokada.org/credits" rel="noopener" class="nav-link">{{ 'homepage action authors' | tr }}</a>
</li>
<li class="nav-item">
<a href="https://go.blokada.org/terms" rel="noopener" class="nav-link">{{ 'payment action terms' | tr }}</a>
</li>
<li class="nav-item">
<a href="https://go.blokada.org/privacy" rel="noopener" class="nav-link">{{ 'payment action policy' | tr }}</a>
</li>
</ul>
</div>
</div>
</div>
</footer>
