<div class="position-relative">
<section class="section-shaped my-0">
<div class="shape shape-style-4 shape-default shape-skew">
<span style="display: none;">
</span>
<span>
</span>
<span>
</span>
<span>
</span>
<span>
</span>
<span>
</span>
<span>
</span>
<span>
</span>
<span>
</span>
</div>
<div class="container shape-container d-flex">
<div class="col px-0">
<div class="row">
<div class="col-lg-6">
<h1 class="display-3  text-white">{{ 'homepage hero heading' | tr }}
<span>{{ 'homepage hero heading platforms' | tr }}</span>
</h1>
<p class="lead text-white">{{ 'homepage hero desc' | tr }}</p>
<div class="btn-wrapper">
<a class="btn mb-3 mb-sm-0 btn-icon btn-warning" href="#download">
<span class="btn-inner--icon">{% icon "solid-cloud-download-alt" %}</span>
<span class="btn-inner--text">
{{ 'universal action download' | tr }}
</span>
</a>
<a class="btn mb-3 mb-sm-0 btn-white" href="#cloud">
{{ 'universal action learn more' | tr }}
</a>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
