---
key: index
layout: layouts/base.njk
permalink: /de/guides/
eleventyComputed:
  title: "{{ t.de.indexTitle }}"
  description: "{{ t.de.indexDescription }}"
---
{% include "partials/index-body.njk" %}
