---
key: index
layout: layouts/base.njk
permalink: /sv/guides/
eleventyComputed:
  title: "{{ t.sv.indexTitle }}"
  description: "{{ t.sv.indexDescription }}"
---
{% include "partials/index-body.njk" %}
