{#- Comments come from the forum and need JavaScript; the guide above does not. #}
<div id="discourse-comments"></div>
<script>
  window.DiscourseEmbed = {
    discourseUrl: '{{ site.forum }}',
    discourseEmbedUrl: '{{ site.origin }}{{ page.url }}',
  };
  (function () {
    var d = document.createElement('script');
    d.async = true;
    d.src = window.DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
    document.head.appendChild(d);
  })();
</script>
