---
key: index
layout: layouts/base.njk
permalink: /guides/
eleventyComputed:
  title: "{{ t.en.indexTitle }}"
  description: "{{ t.en.indexDescription }}"
---
{%- set s = t[lang] -%}
<p class="intro">{{ s.indexIntro }}</p>
<ul class="cards">
  {%- for guide in collections.guides | byLang(lang) %}
  <li><a href="{{ guide.url }}"><strong>{{ guide.data.title }}</strong>{{ guide.data.description }}</a></li>
  {%- endfor %}
</ul>
{% include "partials/cta.njk" %}
