---
key: index
layout: layouts/base.njk
permalink: /guides/
eleventyComputed:
  title: "{{ t.en.indexTitle }}"
  description: "{{ t.en.indexDescription }}"
---
{% include "partials/index-body.njk" %}
